<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Registration Page</title>
</head>
<body>
    <form action="" method="post">
        <div id="pers-det">
            <h1>Personal details</h1>
            <label for="name">Full name: </label>
            <input type="text" name="name" placeholder="FirstName LastName" id="name"><br><br>
            
            <label for="e-mail">Enter your email: </label>
            <input type="email" name="e_mail" id="e-mail" placeholder="name@example.com"><br><br>
            
            <label for="roll-no">Roll no: </label>
            <input type="number" name="roll-no" id="roll-no" placeholder="Enter your 4-digit roll no"><br><br>
            
            <label for="class-name">Class: </label>
            <input type="text" name="class-name" id="class-name" placeholder="Year_depName_div"><br><br>
            
            <label for="phone">Enter your phone number</label>
            <input type="tel" name="phone_no" id="phone"><br><br>
            
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
        </div>
        <br><br>
    </form>
    <button type="button" class="btn  btn-lg" id="sub-button">Large button</button>
</body>
</html>